body{
    background:#f4f7fc;
    font-family:Arial,sans-serif;
}

.container{
    width:90%;
    margin:auto;
    text-align:center;
}

h1{
    color:#111827;
    margin-top:40px;
}

#searchBox{
    width:450px;
    max-width:90%;
    padding:18px;
    border:none;
    border-radius:40px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    margin:30px 0;
    font-size:18px;
}

.books{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:white;
    padding:20px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:150px;
    height:220px;
    object-fit:cover;
}

.home-btn{
    display:inline-block;
    margin-top:50px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:15px 30px;
    border-radius:30px;
}
.book-card{
    background: white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.book-card img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.book-card h2{
    font-size: 14px;
    margin-top: 8px;
}

.book-card p{
    font-size: 12px;
    margin: 4px 0;
}
@media (max-width:768px){

    .books-container{
        grid-template-columns: repeat(3,1fr);
        gap: 8px;
    }

    .book-card{
        padding: 8px;
    }

    .book-card img{
        height: 120px;
    }

    .book-card h2{
        font-size: 13px;
    }

    .book-card p{
        font-size: 11px;
    }

}